@model List<Cost>
<hr class="my-5" />

<!-- Bordered Table -->
<div class="card">
    <div class="card-header" style="display:flex;justify-content:space-between">
        <h5>
            Xərclər
        </h5>
        <div>
            <a asp-action="Create" class="btn btn-danger text-white rounded-pill" style="margin-right:10px">Əlavə Et</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table id="myCost" class="table table-bordered">
                @* <thead>
                <tr>
                <th>Miqdar</th>
                <th>Təsvir</th>
                <th>Tarix</th>
                <th>Kim tərəfdən</th>
                <th>Kim tərəfdən</th>


                </tr>
                </thead>*@
                <thead>
                    <tr>
                        <th>Miqdar</th>
                        <th>Məlumat</th>
                        <th>Tarix</th>
                        <th>Kim tərəfdən</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (Cost item in Model)
                    {
                        <tr>
                            <td>- @item.Amount AZN</td>
                            <td>@item.Description</td>
                            <td>@item.CreateTime</td>
                            <td>@item.By</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @* <div class="d-flex justify-content-center mt-3">
        <nav aria-label="...">
        <ul class="pagination">
        <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Geri</a>
        </li>
        @for (int i = 1; i <= ViewBag.PageCount; i++)
        {
        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
        }


        <li class="page-item">
        <a class="page-link" href="#">İrəli</a>
        </li>
        </ul>
        </nav>
        </div>*@
    </div>
</div>